@import "lib"

html
body
	margin 0
	padding 0
	height 100%
	width 100%
	overflow hidden

body
	font normal 14px sans-serif
	box-sizing border-box
	background dark-color-bg1
	color dark-color-text2
	overflow-y auto

	*
		box-sizing inherit

.flex-spacer
	flex 1

#app
	height 100%
	width 100%
