@import "lib"

.main
	background dark-color-bg1
	padding 10
	flex 1


.tracking
	background dark-color-bg3
	padding 20
	margin 0 0 10
	border-radius 4

	header
	footer
		display flex
		align-items center
		justify-content flex-start

	h2
		font-weight 400
		font-size 18px
		text-transform uppercase

	details
		margin 20 0 0

	.tracking-number
		color dark-color-text0
		margin 0 10

	.status
		color dark-color-text0
		margin 0 10
		background dark-color-bg2
		padding 6 10 5
		border-radius 10

	.expected
		margin 0 10

		em
			font-style normal
			color dark-color-accent

	.logo
		width 39
		height 39
		font-size 12px
		background #fff
		color #000
		display inline-flex
		align-items center
		text-align center
		margin 0 0 0 0
		overflow hidden
		border-radius 25px
		border 1px solid dark-color-bg1

	.checkpoints
		width 100%
		margin 10 0
		border-collapse collapse

		td
			border 1px solid dark-color-bg1
			padding 5 10

		thead td
			font-weight 600
			background dark-color-bg2
			padding 10
