@import "lib"


.header
	background dark-color-bg3
	border-bottom dark-color-bg2
	position sticky
	top 0
	padding 0 20
	display flex
	flex-wrap wrap
	align-items center
	justify-content space-between
	z-index 10

	.logo
		size 40
		margin-right 10

	h1
		flex 1
		font-weight 400
		font-family 'Courier New', Courier, monospace

	input
	.select-wrap
		width 200
		opacity 0
		margin-right 5
		margin-bottom 5

	&:hover
		input
		.select-wrap
			opacity 1

	form
		display flex
		align-items center
		justify-content space-between
		flex-wrap wrap


	form.loading
		opacity 0.5
		pointer-events none



@media only screen and (max-device-width: 500px)
	.header
		form
			min-width 100%
		input
		.select-wrap
			opacity 1
