@import "lib"


.header
	background dark-color-bg3
	border-bottom dark-color-bg2
	position sticky
	top 0
	padding 0 20
	display flex
	flex-wrap wrap
	align-items center
	justify-content space-between
	z-index 10

	.logo
		size 40
		margin-right 10

	h1
		flex 1
		font-weight 400
		font-family 'Courier New', Courier, monospace

	input
	.select-wrap
		flex 1
		margin-right 6
		min-width 50

	form
		display flex
		align-items center
		justify-content space-between
		flex-wrap wrap
		padding 0 0 10
		min-width 100%


	form.loading
		opacity 0.5
		pointer-events none
